# CALIDAD DE DATOS

## IMPORTAR PAQUETES

In [1]:
import numpy as np
import pandas as pd

#Automcompletar r√°pido
%config IPCompleter.greedy=True

## IMPORTAR LOS DATOS

Sustituir la ruta del proyecto.

In [2]:
ruta_proyecto = 'C:/Users/tania.camacho/Desktop/Master/EstructuraDirectorio/04_PORTAFOLIO/01_PORTAFOLIO_INMO'

Sustituir el nombre_fichero_datos.

In [3]:
nombre_fichero_datos = 'trabajo.csv'

Cargar los datos.

In [4]:
ruta_completa = ruta_proyecto + '/02_Datos/03_Trabajo/' + nombre_fichero_datos

df = pd.read_csv(ruta_completa,index_col=0).set_index('id')
df

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,availability_365,number_of_reviews_ltm,license,accommodates,bathrooms,bedrooms,beds,description,precio_m2,distrito
id,,,,,,,,,,,,,,,,,,,,,
702998,"NICE FLAT, 2 TV's AND FREE WIFI",3609455,Javier,Casco Antiguo,Santa Catalina,37.390800,-5.985430,Entire home/apt,59.0,3,...,0,64,CTC-2018127385,2,1.0,1.0,1.0,"Gorgeous flat in the centre of Seville, 5 minu...",3601,Casco Antiguo
704131,Reservaloen Casa del Museo studio 2,3258098,Apartamentos Reservaloen,Casco Antiguo,Museo,37.391640,-6.000220,Entire home/apt,253.0,1,...,119,0,A/SE/000167,4,1.0,1.0,2.0,Apartamentos Casa del Museo is located next to...,3601,Casco Antiguo
705652,Historic home downtown Seville1,3625249,Lola,Casco Antiguo,San Vicente,37.396350,-5.998680,Private room,42.0,2,...,307,24,VFT/SE/00414,2,1.0,1.0,2.0,NaN,3601,Casco Antiguo
705697,Room near center +breakfast,3625534,Irina,Triana,Triana Este,37.377630,-6.006400,Private room,35.0,3,...,190,43,VFT/SE/04584,1,1.0,1.0,1.0,Private double room in TRIANA. 15 min distanc...,3118,Triana
721753,Apartment in the historic center- VFT/SE/00056,3726424,Beatriz,Casco Antiguo,Alfalfa,37.390290,-5.989020,Entire home/apt,76.0,3,...,120,30,VFT/SE/00056,2,1.0,1.0,1.0,"Cozy apartment next to the ""Plaza de la Alfalf...",3601,Casco Antiguo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121798049593048185,plaza del museo,569262329,Luz,Casco Antiguo,Museo,37.391536,-6.000180,Private room,167.0,1,...,180,0,Exempt,3,1.0,1.0,3.0,This home is strategically located-it will be ...,3601,Casco Antiguo
1122218429501569213,Tartessos Apartamentos 1,190448586,Gualberto,San Pablo - Santa Justa,"San Carlos, Tartessos",37.398657,-5.970950,Entire home/apt,137.0,2,...,113,0,VUT/SE/12948,4,1.0,1.0,2.0,"Relax and unwind in this quiet, fully renovate...",2392,San Pablo - Santa Justa
1122329926019227935,piso acogedor y tranquilo,68601310,Lola,San Pablo - Santa Justa,"Carretera de Carmona, Mar√≠a Auxiliadora, Fontanal",37.397021,-5.978117,Private room,42.0,2,...,252,0,Exempt,2,2.0,2.0,3.0,Forget the worries in this great home - it's a...,2392,San Pablo - Santa Justa
1122475005140746995,EDomus Setas Parking Boutique,525452885,Jorge,Casco Antiguo,Santa Catalina,37.392670,-5.988250,Entire home/apt,116.0,1,...,267,0,VFT/SE/05265,4,2.0,1.0,2.0,This luxury apartment in Seville has recently ...,3601,Casco Antiguo
1122504379533066462,habitaci√≥n individual sin ba√±o,537676707,Pension,Casco Antiguo,San Bartolom√©,37.385839,-5.986283,Private room,90.0,1,...,269,0,H/SE/00889,1,2.0,1.0,1.0,Stay in this extraordinary home and don't miss...,3601,Casco Antiguo

## VISI√ìN GENERAL

Vemos las variables, los nulos, el tama√±o del df, los tipos de datos, etc

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5399 entries, 702998 to 1122504379533066462
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   name                            5399 non-null   object
 1   host_id                         5399 non-null   int64
 2   host_name                       5399 non-null   object
 3   neighbourhood_group             5399 non-null   object
 4   neighbourhood                   5399 non-null   object
 5   latitude                        5399 non-null   float64
 6   longitude                       5399 non-null   float64
 7   room_type                       5399 non-null   object
 8   price                           5192 non-null   float64
 9   minimum_nights                  5399 non-null   int64
 10  number_of_reviews               5399 non-null   int64
 11  last_review                     4744 non-null   object
 12  reviews_per_month               4744 non-null   float64
 13  calculated_host_listings_count  5399 non-null   int64
 14  availability_365                5399 non-null   int64
 15  number_of_reviews_ltm           5399 non-null   int64
 16  license                         5281 non-null   object
 17  accommodates                    5399 non-null   int64
 18  bathrooms                       5191 non-null   float64
 19  bedrooms                        5379 non-null   float64
 20  beds                            5189 non-null   float64
 21  description                     5243 non-null   object
 22  precio_m2                       5399 non-null   int64
 23  distrito                        5399 non-null   object
dtypes: float64(7), int64(8), object(9)
memory usage: 1.0+ MB

## TIPOS DE DATOS

### Identificaci√≥n

Comprobamos si las variables tienen los tipos de datos correctos. Considero que todo est√° ok.

In [6]:
df.dtypes

name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
accommodates                        int64
bathrooms                         float64
bedrooms                          float64
beds                              float64
description                        object
precio_m2                           int64
distrito                           object
dtype: object

## VALORES √öNICOS

### Identificaci√≥n

Buscamos una variable que tenga un √∫nico valor porque si es asi, no se considera variable sino una constante.

In [7]:
df.nunique().sort_values()

room_type                            4
distrito                            11
bedrooms                            11
neighbourhood_group                 11
precio_m2                           11
bathrooms                           16
accommodates                        16
beds                                18
minimum_nights                      34
calculated_host_listings_count      47
neighbourhood                      103
number_of_reviews_ltm              122
availability_365                   366
number_of_reviews                  466
last_review                        614
reviews_per_month                  660
price                              665
host_name                         1017
host_id                           2353
latitude                          3631
longitude                         3716
license                           3826
description                       4758
name                              5303
dtype: int64

### Correcci√≥n

Eliminamos las siguientes variables no porque tengan un valor √∫nico sino porque no sabemos que informaci√≥n aportan.

In [8]:
df.drop(columns = [  'host_name',
                     'last_review',
                     'reviews_per_month',
                     'number_of_reviews_ltm',
                     'number_of_reviews',
                     'license',
                     'distrito',
                     'host_id',
                     'calculated_host_listings_count'], inplace = True)

In [9]:
df.shape

(5399, 15)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5399 entries, 702998 to 1122504379533066462
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 5399 non-null   object
 1   neighbourhood_group  5399 non-null   object
 2   neighbourhood        5399 non-null   object
 3   latitude             5399 non-null   float64
 4   longitude            5399 non-null   float64
 5   room_type            5399 non-null   object
 6   price                5192 non-null   float64
 7   minimum_nights       5399 non-null   int64
 8   availability_365     5399 non-null   int64
 9   accommodates         5399 non-null   int64
 10  bathrooms            5191 non-null   float64
 11  bedrooms             5379 non-null   float64
 12  beds                 5189 non-null   float64
 13  description          5243 non-null   object
 14  precio_m2            5399 non-null   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 674.9+ KB

## DUPLICADOS

### Identificaci√≥n

In [11]:
df.duplicated().sum()

1

### Correcci√≥n

In [12]:
df.drop_duplicates(inplace = True)

## SEPARAR NUM√âRICAS Y CATEG√ìRICAS

### Categ√≥ricas

In [13]:
cat = df.select_dtypes(exclude = 'number').copy()

### Num√©ricas

In [14]:
num = df.select_dtypes(include='number').copy()

In [15]:
cat.shape

(5398, 5)

In [16]:
num.shape

(5398, 10)

## GESTI√ìN DE CATEG√ìRICAS

### Nulos

#### Identificaci√≥n

In [17]:
cat.isna().sum().sort_values(ascending = False)

description            156
name                     0
neighbourhood_group      0
neighbourhood            0
room_type                0
dtype: int64

Tenemos nulos en la variable descripci√≥n pero los vamos a dejar porque vamos a usar la variable solo para el an√°lisis de datos y no para el algoritmo de ML. Se eliminir√° posteriormente.

## GESTI√ìN DE NUM√âRICAS

### Nulos

#### Identificaci√≥n

In [18]:
num.isna().sum().sort_values(ascending = False)

beds                210
bathrooms           208
price               207
bedrooms             20
latitude              0
longitude             0
minimum_nights        0
availability_365      0
accommodates          0
precio_m2             0
dtype: int64

#### Correcci√≥n

##### Imputar por la media

###### Variables a imputar

In [19]:
var_imputar_media = ['price']

###### Funcion para imputar con la media

In [20]:
def imputar_media(variable):
    if pd.api.types.is_integer_dtype(variable):
        return(variable.fillna(int(variable.mean())))
    else:
        return(variable.fillna(variable.mean()))

###### Imputar con la media

In [21]:
num[var_imputar_media] = num[var_imputar_media].apply(imputar_media)

In [22]:
num.isna().sum().sort_values(ascending = False)

beds                210
bathrooms           208
bedrooms             20
latitude              0
longitude             0
price                 0
minimum_nights        0
availability_365      0
accommodates          0
precio_m2             0
dtype: int64

##### Imputar por un valor

In [23]:
var_imputar_valor = ['beds','bathrooms','bedrooms']

###### Variable beds

Vamos a utilizar un proxy que en este caso, va a ser la variable accomodates ya que podemos pensar como v√°lido que el numero de personas de una vivienda es igual al numero de camas. Por ello, lo primero que haremos es filtrar por los registros que tienen datos en ambas variables (no filtramos los nulos) y ver si tienen algun patron v√°lido que podamos usar luego para imputar.

In [24]:
pd.crosstab(num.beds, num.accommodates)

accommodates,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
beds,,,,,,,,,,,,,,,,
0.0,13,61,12,50,4,12,1,2,1,2,0,0,0,0,0,0
1.0,166,930,107,289,7,4,1,0,0,0,0,0,0,0,0,0
2.0,9,269,305,875,42,29,0,2,0,0,0,0,0,0,0,0
3.0,3,15,67,555,129,190,1,4,0,0,0,0,0,0,0,0
4.0,0,6,9,126,112,277,22,27,1,5,0,0,0,0,0,0
5.0,0,0,0,8,28,123,28,31,3,5,1,0,0,0,0,0
6.0,5,0,0,4,1,24,20,46,4,7,0,3,0,0,0,0
7.0,0,0,0,0,2,3,5,21,2,7,0,0,0,1,0,0
8.0,1,0,0,1,0,0,1,6,5,5,5,5,0,0,0,1
9.0,0,0,0,0,0,0,0,0,1,2,1,1,0,1,1,2
10.0,0,0,0,0,0,1,0,0,0,5,0,3,0,0,2,0
11.0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0
12.0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,1,0
13.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
15.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
16.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3
18.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
19.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

Lo que observamos de esta tabla que la vemos en vertical es:
- Para una vivienda que permita el alojamiento de una persona, el m√°ximo est√° en 1 cama.
- Para 2 personas, es 1 cama.
- Para 3 personas, son 2 camas
- Para 4 personas, son 2 camas.
- Para 5 personas, est√° entre 3 y 4 camas.

El patron que vamos a seguir es:
- Si el piso permite 1 o 2 personas, ponemos 1 cama.
- Si permite 3 o 4 personas, ponemos 2 camas.
- Si permite 5 o 6 personas, ponemos 3 camas.
- Si es m√°s de 6 personas, ponemos 4 camas.

In [25]:
def imputar_nulos(registro):
    #Lista de condiciones
    condiciones = [(registro.accommodates <= 2),
                  (registro.accommodates > 2) & (registro.accommodates <= 4),
                  (registro.accommodates > 4) & (registro.accommodates <=6),
                  (registro.accommodates > 6)]
    #lista de resultados
    resultados = [1,2,3,4]
    #Salida
    return (np.select(condiciones,resultados, default = -999))

In [26]:
num.loc[num.beds.isna(), 'beds'] = num.loc[num.beds.isna()].apply(imputar_nulos, axis = 1).astype('int64')

In [27]:
num.beds.value_counts()

beds
2.0     1614
1.0     1545
3.0     1032
4.0      603
5.0      227
0.0      158
6.0      114
7.0       41
8.0       30
10.0      11
9.0        9
16.0       3
12.0       3
11.0       2
13.0       2
15.0       2
19.0       1
18.0       1
Name: count, dtype: int64

In [28]:
num.beds.isna().sum()

0

###### Variable bedrooms

In [29]:
pd.crosstab(num.bedrooms, num.beds)

beds,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,15.0,16.0,18.0,19.0
bedrooms,,,,,,,,,,,,,,,,,,
0.0,14,135,75,16,1,1,1,0,0,1,0,0,0,0,0,0,0,0
1.0,93,1358,1155,194,48,9,7,0,3,0,1,0,0,0,0,0,0,0
2.0,37,22,367,718,373,66,17,5,1,0,1,0,0,0,0,0,0,0
3.0,11,10,11,101,153,127,52,9,6,1,0,0,0,0,0,0,0,0
4.0,2,4,0,3,26,21,30,23,12,3,1,0,0,0,1,0,0,0
5.0,1,0,1,0,1,3,6,2,5,4,5,1,0,0,1,0,0,0
6.0,0,0,0,0,0,0,1,0,2,0,2,1,2,0,0,2,1,0
7.0,0,0,0,0,0,0,0,2,0,0,1,0,0,1,0,0,0,1
8.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
9.0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0
13.0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

El criterio a aplicar va a ser:
- Si el piso tiene 0, 1 o 2 camas, 1 habitaci√≥n.
- Si tiene 3 o 4, 2 habitaciones.
- Si tiene 5 o 6, 3 habitaciones.
- Si tiene m√°s de 6 camas, 4 habitaciones.

In [30]:
def imputar_nulos(registro):
    #Lista de condiciones
    condiciones = [(registro.beds <= 2),
                  (registro.beds > 2) & (registro.beds <= 4),
                  (registro.beds > 4) & (registro.beds <=6),
                  (registro.beds > 6)]
    #lista de resultados
    resultados = [1,2,3,4]
    #Salida
    return (np.select(condiciones,resultados, default = -999))

In [31]:
num.loc[num.bedrooms.isna(), 'bedrooms'] = num.loc[num.bedrooms.isna()].apply(imputar_nulos, axis = 1).astype('float64')

In [32]:
num.bedrooms.value_counts()

bedrooms
1.0     2888
2.0     1607
3.0      481
0.0      244
4.0      126
5.0       30
6.0       11
7.0        5
9.0        3
13.0       2
8.0        1
Name: count, dtype: int64

In [33]:
num.bedrooms.isna().sum()

0

###### Variable bathrooms

In [34]:
pd.crosstab(num.bathrooms, num.bedrooms)

bedrooms   0.0   1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   13.0
bathrooms
0.0           2    26    13     3     0     2     0     0     0     0     0
0.5           1    16     0     0     0     0     0     0     0     0     0
1.0         233  2473   860   129    10     0     0     0     0     0     1
1.5           2   159    80    25     3     0     0     0     0     0     0
2.0           4   101   542   209    47     2     0     0     0     0     0
2.5           1    10    26    23     5     1     1     0     0     0     0
3.0           0     8    10    43    28    10     2     2     1     0     0
3.5           0     1     1     6     4     0     0     0     0     0     0
4.0           0     3     0     1    15     4     3     1     0     1     1
4.5           0     2     0     1     2     2     0     0     0     0     0
5.0           0     0     0     1     2     4     2     0     0     1     0
5.5           0     0     0     0     1     3     0     0     0     0     0
6.0           1     4     0     0     2     1     2     1     0     0     0
6.5           0     0     0     0     0     0     0     1     0     0     0
7.0           0     0     0     0     0     0     1     0     0     0     0
8.5           0     1     0     0     0     0     0     0     0     0     0

El criterio a aplicar va a ser:

- Si el piso tiene 0, 1 o 2 habitaciones, 1 ba√±o.
- Si tiene 3 o 4, 2 ba√±os.
- Si tiene m√°s de 5, 3 ba√±os.

In [35]:
def imputar_nulos(registro):
    #Lista de condiciones
    condiciones = [(registro.bedrooms <= 2),
                  (registro.bedrooms > 2) & (registro.bedrooms <= 4),
                  (registro.bedrooms >= 5)]
    #lista de resultados
    resultados = [1,2,3]
    #Salida
    return (np.select(condiciones,resultados, default = -999))

In [36]:
num.loc[num.bathrooms.isna(), 'bathrooms'] = num.loc[num.bathrooms.isna()].apply(imputar_nulos, axis = 1).astype('float64')

In [37]:
num.bathrooms.value_counts()

bathrooms
1.0    3865
2.0     952
1.5     269
3.0     106
2.5      67
0.0      46
4.0      29
0.5      17
3.5      12
6.0      11
5.0      10
4.5       7
5.5       4
8.5       1
7.0       1
6.5       1
Name: count, dtype: int64

In [38]:
num.bathrooms.isna().sum()

0

### At√≠picos

#### Por desviaci√≥n t√≠pica

##### Identificaci√≥n

###### Definir el n√∫mero de desviaciones t√≠picas

In [39]:
num_desv_tip = 4

###### Funci√≥n que devuelve los √≠ndices de los at√≠picos

In [40]:
def atipicos_desv_tip(variable, num_desv_tip = 4):
    #sacamos los nulos por ahora
    variable = variable.dropna()
    #calculamos los l√≠mites
    media = np.mean(variable)
    sd = np.std(variable)
    umbral = sd * num_desv_tip
    lim_inf = media - umbral
    lim_sup = media + umbral
    #encontramos los √≠ndices de los que est√°n fuera de los l√≠mites
    indices = [indice for indice,valor in variable.items() if valor < lim_inf or valor > lim_sup]
    return(indices)

###### Funci√≥n que cuenta el n√∫mero de at√≠picos

In [41]:
def conteo_atipicos(df,variable, num_desv_tip = 3):
    atipicos = atipicos_desv_tip(df[variable], num_desv_tip)
    return(df.loc[atipicos,variable].value_counts())

###### Variables a aplicar

In [42]:
var_atipicos_dt = num.columns.to_list()

###### Aplicar

In [43]:
for variable in var_atipicos_dt:
    print('\n' + variable + ':\n')
    print(conteo_atipicos(num,variable,num_desv_tip))

latitude:

latitude
37.433200    1
37.333079    1
37.432052    1
37.318693    1
37.318174    1
37.319418    1
37.324780    1
37.325581    1
37.429748    1
37.430790    1
37.349632    1
37.324852    1
37.427879    1
37.324891    1
37.324870    1
37.429708    1
37.432240    1
37.321803    1
37.326203    1
37.348840    1
37.430400    1
37.320170    1
37.322950    1
37.347290    1
37.341520    1
37.322500    1
37.428530    1
37.351680    1
37.319640    1
37.347280    1
37.332320    1
Name: count, dtype: int64

longitude:

longitude
-5.933994    2
-5.924220    2
-5.938350    1
-5.933544    1
-5.941963    1
            ..
-5.942090    1
-5.940400    1
-5.927898    1
-5.922090    1
-5.903776    1
Name: count, Length: 68, dtype: int64

price:

price
5700.0     3
2000.0     3
5050.0     1
2165.0     1
1929.0     1
4143.0     1
2700.0     1
2648.0     1
2778.0     1
2769.0     1
1854.0     1
4000.0     1
2361.0     1
9000.0     1
4857.0     1
2819.0     1
4299.0     1
4344.0     1
2087.0     1
1886.0     1
2719.0     1
2034.0     1
2037.0     1
1857.0     1
2108.0     1
4714.0     1
3000.0     1
5000.0     1
17229.0    1
2757.0     1
Name: count, dtype: int64

minimum_nights:

minimum_nights
60     54
61      9
90      4
365     2
59      2
100     2
180     1
360     1
64      1
210     1
230     1
75      1
62      1
Name: count, dtype: int64

availability_365:

Series([], Name: count, dtype: int64)

accommodates:

accommodates
12    15
16    10
15     5
14     2
13     1
Name: count, dtype: int64

bathrooms:

bathrooms
4.0    29
6.0    11
5.0    10
4.5     7
5.5     4
8.5     1
7.0     1
6.5     1
Name: count, dtype: int64

bedrooms:

bedrooms
6.0     11
7.0      5
9.0      3
13.0     2
8.0      1
Name: count, dtype: int64

beds:

beds
10.0    11
9.0      9
16.0     3
12.0     3
11.0     2
13.0     2
15.0     2
19.0     1
18.0     1
Name: count, dtype: int64

precio_m2:

Series([], Name: count, dtype: int64)

#### Por winsorizaci√≥n autom√°tica para m√∫ltiples variables

##### Variables a winsorizar.

In [44]:
var_winsorizar = ['price','minimum_nights','accommodates','bathrooms','bedrooms','beds']

##### Definir los percentiles m√≠nimos y m√°ximos.

In [45]:
p_min = 0.01
p_max = 0.99

##### Aplicar

In [46]:
# Winsorizaci√≥n autom√°tica para cada variable
for variable in var_winsorizar:
    print(f"Procesando la variable: {variable}")
    
    # Calcula los cuantiles para cada variable
    lower_quantile = num[variable].quantile(p_min)
    upper_quantile = num[variable].quantile(p_max)
    
    # Si la columna es de tipo Int64, redondea los cuantiles a enteros
    if pd.api.types.is_integer_dtype(num[variable]):
        lower_quantile = int(round(lower_quantile))
        upper_quantile = int(round(upper_quantile))
        print(f"Cuantiles redondeados para la variable de tipo Int64 '{variable}': {lower_quantile}, {upper_quantile}")
    else:
        print(f"Cuantiles para la variable de tipo Float '{variable}': {lower_quantile}, {upper_quantile}")
    
    # Aplica la winsorizaci√≥n utilizando los cuantiles como l√≠mites
    num[variable].clip(lower=lower_quantile, upper=upper_quantile, inplace=True)

    # Imprimir los resultados despu√©s de la winsorizaci√≥n
    print(f"Resultados despu√©s de la winsorizaci√≥n para la variable '{variable}':")
    print(num[variable].describe())

Procesando la variable: price
Cuantiles para la variable de tipo Float 'price': 28.0, 1200.0
Resultados despu√©s de la winsorizaci√≥n para la variable 'price':
count    5398.000000
mean      211.917876
std       175.829102
min        28.000000
25%       106.000000
50%       172.000000
75%       252.000000
max      1200.000000
Name: price, dtype: float64
Procesando la variable: minimum_nights
Cuantiles redondeados para la variable de tipo Int64 'minimum_nights': 1, 60
Resultados despu√©s de la winsorizaci√≥n para la variable 'minimum_nights':
count    5398.000000
mean        2.820489
std         7.373604
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max        60.000000
Name: minimum_nights, dtype: float64
Procesando la variable: accommodates
Cuantiles redondeados para la variable de tipo Int64 'accommodates': 1, 10
Resultados despu√©s de la winsorizaci√≥n para la variable 'accommodates':
count    5398.000000
mean        3.891071
std         1.783229
min         1.000000
25%         2.000000
50%         4.000000
75%         5.000000
max        10.000000
Name: accommodates, dtype: float64
Procesando la variable: bathrooms
Cuantiles para la variable de tipo Float 'bathrooms': 0.5, 4.0
Resultados despu√©s de la winsorizaci√≥n para la variable 'bathrooms':
count    5398.000000
mean        1.294461
std         0.576339
min         0.500000
25%         1.000000
50%         1.000000
75%         1.500000
max         4.000000
Name: bathrooms, dtype: float64
Procesando la variable: bedrooms
Cuantiles para la variable de tipo Float 'bedrooms': 0.0, 4.0
Resultados despu√©s de la winsorizaci√≥n para la variable 'bedrooms':
count    5398.000000
mean        1.529641
std         0.846004
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         4.000000
Name: bedrooms, dtype: float64
Procesando la variable: beds
Cuantiles para la variable de tipo Float 'beds': 0.0, 8.0
Resultados despu√©s de la winsorizaci√≥n para la variable 'beds':
count    5398.000000
mean        2.389589
std         1.490983
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         8.000000
Name: beds, dtype: float64

C:\Users\tania.camacho\AppData\Local\Temp\ipykernel_22052\1468666940.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  num[variable].clip(lower=lower_quantile, upper=upper_quantile, inplace=True)
C:\Users\tania.camacho\AppData\Local\Temp\ipykernel_22052\1468666940.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  num[variable].clip(lower=lower_quantile, upper=upper_quantile, inplace=True)
C:\Users\tania.camacho\AppData\Local\Temp\ipykernel_22052\1468666940.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  num[variable].clip(lower=lower_quantile, upper=upper_quantile, inplace=True)
C:\Users\tania.camacho\AppData\Local\Temp\ipykernel_22052\1468666940.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  num[variable].clip(lower=lower_quantile, upper=upper_quantile, inplace=True)
C:\Users\tania.camacho\AppData\Local\Temp\ipykernel_22052\1468666940.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  num[variable].clip(lower=lower_quantile, upper=upper_quantile, inplace=True)

## GUARDAR DATASETS TRAS CALIDAD DE DATOS

Guarda los avances en df, cat y num con un sufijo para poder guardar o recuperar avances del proyecto.

En formato pickle para no perder las modificaciones de metadatos.

### Definir los nombres de los archivos

In [47]:
ruta_trabajo = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'trabajo_resultado_calidad.pickle'
ruta_cat = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'cat_resultado_calidad.pickle'
ruta_num = ruta_proyecto + '/02_Datos/03_Trabajo/' + 'num_resultado_calidad.pickle'

### Guardar los archivos

In [48]:
df.to_pickle(ruta_trabajo)
cat.to_pickle(ruta_cat)
num.to_pickle(ruta_num)